@model IEnumerable<ProyectoADS.Models.GrupoViewModel>
@using ADSProject.Utils

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Form" asp-route-operaciones="@Operaciones.agregar">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idGrupo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idCarrera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idMateria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idProfesor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ciclo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.anio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idGrupo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idCarrera)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idMateria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idProfesor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ciclo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.anio)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>