@model IEnumerable<ProyectoADS.Models.MateriasViewModel>
@using ADSProject.Utils
    @{
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="container">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Materias</h3>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-success d-block" asp-action="Form"
                       asp-route-operaciones="@Operaciones.agregar">Agregar Materia</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            @if (Model.Count() > 0)
            {

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IdMateria)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Materia)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.idCarrera)
                            </th>

                            <th> Acciones </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdMateria)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Materia)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Carreras.nombreCarrera)
                            </td>

                            <td>
                                <a class="btn btn-primary"
                                   asp-route-IdMateria="@item.IdMateria"
                                   asp-action="Form"
                                   asp-route-operaciones="@Operaciones.modificar">Modificar</a>
                                <a class="btn btn-warning"
                                   asp-route-IdMateria="@item.IdMateria"
                                   asp-action="Form"
                                   asp-route-operaciones="@Operaciones.leer">Leer</a>
                                <a class="btn btn-danger eliminar"
                                   asp-route-IdMateria="@item.IdMateria"
                                   asp-action="Delete">Eliminar</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>

            }
            else
            {
                <h3 class="text-center">Lista vacia.</h3>}
        </div>
    </div>